<!DOCTYPE html>
<html>

<head>
	<title>Maze</title>
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body>
	<center>
	<div id="dificultades">
		<button class="button button1" onclick="Inicio(1)">Facil</button>
		<button class="button button1" onclick="Inicio(2)">Medio</button>
		<button class="button button1" onclick="Inicio(3)">Dificil</button>
	</div>
</center>
	<div id="wholePage" style = "display: none;">
		<center>
			<div id="encabezado">
				<h1 id="titulo">Maze time: </h1>
				<h2 id='crono'>00:00:00</h2>
			</div>
			<canvas id="Maze" width="800px" height="600px"></canvas>
			<div id=botones>

				<button class="button button1" onclick="drawAnswer()">Solucion inicial</button>
				<button class="button button1" onclick="drawAnswer2()">Solucion actual</button>
			</div>
		</center>
	</div>
</body>
<script type="text/javascript" src="../public/javascripts/jquery.js"></script>
<script type="text/javascript" src="../public/javascripts/client.js"></script>
<script type="text/javascript" src="javascripts/jquery.js"></script>
<script type="text/javascript" src="javascripts/client.js"></script>

</html>
