<!DOCTYPE html>
<html>

<head>
	<title>Maze</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body>
	<div id="wholePage">
		<center>
			<div id="encabezado">
				<h1 id="titulo">Maze time: </h1>
				<h2 id='crono'>00:00:00</h2>
			</div>
			<canvas id="Maze" width="800px" height="600px"></canvas>
			<div id=botones>
				
				<button class="button button1" onclick="drawAnswer()">Solución inicial</button>
				<button class="button button1" onclick="drawAnswer2()">Solución actual</button>
			</div>
		</center>
	</div>
</body>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/client-server.js"></script>

</html>