<!DOCTYPE html>
<html>
<head>
	<title>Maze</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
<center>
	<h1 id="titulo" >Maze</h1>
	<audio id="audiotag1" src="/javascripts/audio.wav" preload="auto"></audio>
	<canvas id="Maze" width="800px" height="600px"></canvas>
	<input type="submit" value="Solución inicial" onclick="drawAnswer()"/>
	<input type="submit" value="Solución actual" onclick="drawAnswer2()"/>
</center>
</body>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/client-server.js"></script>
</html>
