<!DOCTYPE html>
<html>
<head>
	<title align=center>Maze</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<h1 id="titulo" >Maze</h1>
	<canvas id="Maze" width="600px" height="600px"></canvas>
</body>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/client-server.js"></script>
</html>
