
<!DOCTYPE html>
<html>
<!--
UNIVERSIDAD NACIONAL DE COSTA RICA
Jose Fonseca Mora
Jose Mejía Bravo
Jesus Murillo Miranda
-->
<head>
	<title>Maze</title>
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/index.html/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/index.html/stylesheets/bootstrap.css">
</head>

<body>
	<center>
		<div id="dificultades">
			<h1>Menú Maze</h1>
			<h4>Dificultad del Laberinto</h4>
			<button class="btn btn-primary btn-lg btn-block" onclick="Inicio(1)">Facil</button>
			<button class="btn btn-primary btn-lg btn-block" onclick="Inicio(2)">Medio</button>
			<button class="btn btn-primary btn-lg btn-block" onclick="Inicio(3)">Dificil</button>
		</div>
	</center>
	<div id="wholePage" style="display: none;">
		<center>

			<div id="logs">
				<table>
					<tr>
						<td>
							<input type="text" class="form-control" id="infoE" disabled>
						</td>
					</tr>

				</table>
			</div>
			<div id="encabezado">
				<h1 id="titulo">Maze time: </h1>
				<h2 id='crono'>00:00:00</h2>
			</div>

			<canvas id="Maze" width="800px" height="600px"></canvas>
			<div id=botones>

				<button class="btn btn-primary  btn-xs" onclick="drawAnswer()">Solucionar</button>
				<button class="btn btn-primary  btn-xs" onclick="nuevola()">Generar Nuevo Laberinto</button>
			</div>
		</center>
	</div>
</body>
<script type="text/javascript" src="worker.js"></script>
<script type="text/javascript" src="../public/javascripts/jquery.js"></script>
<script type="text/javascript" src="../public/javascripts/client.js"></script>
<script type="text/javascript" src="/index.html/javascripts/jquery.js"></script>
<script type="text/javascript" src="/index.html/javascripts/client.js"></script>
<script type="text/javascript" src="worker.js"></script>

</script>

</html>
